@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --color-primary: #C89B3C;
    --color-primary-dark: #A57D2C;
    --color-secondary: #000000;
    --color-secondary-light: #1A1A1A;
    --color-accent: #E5B567;
    --color-gray-soft: #F5F5F7;

    --color-gold-50: #F9F5E8;
    --color-gold-100: #F1E8D0;
    --color-gold-200: #E6D2A5;
    --color-gold-300: #D8BD71;
    --color-gold-400: #CFA84C;
    --color-gold-500: #C89B3C;
    --color-gold-600: #A57D2C;
    --color-gold-700: #8C6A25;
    --color-gold-800: #73571E;
    --color-gold-900: #594417;
    --color-gold-950: #3B2D0F;

}

:root {
    --primary: #C89B3C;
    --secondary: #111111;
    --accent: #E5B567;
}

body {
    font-family: var(--font-sans);
    color: var(--secondary);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}